[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke
[submodule "themes/hugo-ink"]
	path = themes/hugo-ink
	# url = git@github.com:knadh/hugo-ink.git
	url = https://github.com/knadh/hugo-ink.git
[submodule "themes/themes.hugo-ink"]
	path = themes/themes.hugo-ink
	url = git://github.com/knadh/hugo-ink.git
