{{ define "contentWrapper" }}
  <div class=" mt-4 h-screen max-w-7xl  bg-blue-500 p-4 sm:ml-16 sm:mr-0 sm:mt-0 ">
    <div class="main-content mx-auto">
      <div class="avatar"></div>
      <div class="card-container grid grid-cols-2 gap-6 bg-slate-500">
        <div
          data-aos="fade-up"
          data-aos-duration="800"
          class="xs:p-4.5 min-h-25 sm:min-h-37 dark:bg-true-gray-900 aos-init aos-animate flex rotate-0 transform flex-col justify-between overflow-hidden rounded-3xl bg-white bg-gradient-to-br from-[#ffa0a8] to-[#fffcdc] p-4 text-white sm:p-6 md:p-8"
          data-immersive-translate-effect="1"
          data-immersive_translate_walked="33416e36-a6c2-461f-bc5e-90c3e40d3ae0"
        >
          <div
            class="xs:text-lg text-xs font-semibold md:text-xl"
            data-immersive-translate-effect="1"
            data-immersive_translate_walked="33416e36-a6c2-461f-bc5e-90c3e40d3ae0"
          >
            Hey there
          </div>
          <div
            class="xs:text-2xl whitespace-nowrap text-lg font-semibold sm:text-3xl md:text-4xl"
            data-immersive-translate-effect="1"
            data-immersive_translate_walked="33416e36-a6c2-461f-bc5e-90c3e40d3ae0"
          >
            I'm huyixi 👋
          </div>
        </div>
        <div
          data-aos="fade-up"
          data-aos-duration="800"
          data-aos-delay="200"
          class="xs:p-4.5 min-h-25 sm:min-h-37 dark:bg-true-gray-900 aos-init aos-animate row-span-2 flex rotate-0 transform flex-col justify-between overflow-hidden rounded-3xl bg-white bg-gradient-to-br from-green-400 to-blue-500 p-4 text-white sm:p-6 md:p-8"
          data-immersive-translate-effect="1"
          data-immersive_translate_walked="33416e36-a6c2-461f-bc5e-90c3e40d3ae0"
        >
          <p
            class="xs:text-lg text-xs font-semibold md:text-xl"
            data-immersive-translate-effect="1"
            data-immersive_translate_walked="33416e36-a6c2-461f-bc5e-90c3e40d3ae0"
          >
            Intersted in
          </p>
          <div
            class="text-center"
            data-immersive-translate-effect="1"
            data-immersive_translate_walked="33416e36-a6c2-461f-bc5e-90c3e40d3ae0"
          >
            <p
              class="xs:text-xl text-sm font-semibold sm:text-2xl md:text-3xl"
              data-immersive-translate-effect="1"
              data-immersive_translate_walked="33416e36-a6c2-461f-bc5e-90c3e40d3ae0"
            >
              Web &amp; Mobile Development, Machine Learning
            </p>
          </div>
          <p
            class="text-true-gray-100 text-center text-xs sm:text-sm"
            data-immersive-translate-effect="1"
            data-immersive_translate_walked="33416e36-a6c2-461f-bc5e-90c3e40d3ae0"
          >
            ... and any other interesting or challenging technology
          </p>
        </div>
        <div
          data-aos="fade-up"
          data-aos-duration="800"
          class="xs:p-4.5 min-h-25 sm:min-h-37 dark:bg-true-gray-900 aos-init aos-animate flex rotate-0 transform flex-col justify-between overflow-hidden rounded-3xl bg-white p-4 sm:p-6 md:p-8"
          data-immersive-translate-effect="1"
          data-immersive_translate_walked="33416e36-a6c2-461f-bc5e-90c3e40d3ae0"
        >
          <p
            class="xs:text-lg text-xs font-semibold md:text-xl"
            data-immersive-translate-effect="1"
            data-immersive_translate_walked="33416e36-a6c2-461f-bc5e-90c3e40d3ae0"
          >
            I'm a
          </p>
          <div
            class="xs:text-xl text-sm font-semibold sm:text-2xl md:text-3xl lg:text-4xl"
            data-immersive-translate-effect="1"
            data-immersive_translate_walked="33416e36-a6c2-461f-bc5e-90c3e40d3ae0"
          >
            <div
              data-immersive-translate-effect="1"
              data-immersive_translate_walked="33416e36-a6c2-461f-bc5e-90c3e40d3ae0"
            >
              <span
                class="mr-2 inline-block bg-gradient-to-r from-green-400 to-blue-500 bg-clip-text text-transparent"
                data-immersive-translate-effect="1"
                data-immersive_translate_walked="33416e36-a6c2-461f-bc5e-90c3e40d3ae0"
                >Developer</span
              ><span
                class="inline-block bg-gradient-to-r from-purple-400 to-indigo-500 bg-clip-text text-transparent"
                data-immersive-translate-effect="1"
                data-immersive_translate_walked="33416e36-a6c2-461f-bc5e-90c3e40d3ae0"
                >Designer</span
              >
            </div>
            <div
              data-immersive-translate-effect="1"
              data-immersive_translate_walked="33416e36-a6c2-461f-bc5e-90c3e40d3ae0"
            >
              <span
                class="mr-2 inline-block bg-gradient-to-r from-red-400 to-yellow-500 bg-clip-text text-transparent"
                data-immersive-translate-effect="1"
                data-immersive_translate_walked="33416e36-a6c2-461f-bc5e-90c3e40d3ae0"
                >Gamer</span
              ><span
                class="from-true-gray-400 mr-2 inline-block bg-gradient-to-r to-gray-500 bg-clip-text text-transparent"
                data-immersive-translate-effect="1"
                data-immersive_translate_walked="33416e36-a6c2-461f-bc5e-90c3e40d3ae0"
                >Writer</span
              ><span
                class="xs:text-sm inline-block text-xs text-red-500 line-through "
                data-immersive-translate-effect="1"
                data-immersive_translate_walked="33416e36-a6c2-461f-bc5e-90c3e40d3ae0"
                >Musician</span
              >
            </div>
          </div>
        </div>
        <div class="card interested row-span-1 bg-red-300">3</div>
        <div class="card skills"></div>
        <div class="card careers"></div>
        <div class="card personalities"></div>
        <div class="card photo"></div>
        <div class="card maxim"></div>
        <div class="card buff"></div>
        <div class="card like-music"></div>
        <div class="card like-tech"></div>
        <div class="card location"></div>
        <div class="card self-info"></div>
        <div class="card find-me"></div>
      </div>
    </div>
  </div>
{{ end }}
