{{ define "contentWrapper" }}
  <div class="like mx-6 mt-4 snap-y overflow-auto  p-4 sm:ml-16 sm:mr-0 sm:mt-0">
    <h1 class="text-xl  font-medium">
      {{ i18n
        "like.title"
      }}
    </h1>
    <div class="read-page mt-4 ">
      <h2 class="my-4 text-lg">
        {{ i18n
          "like.book"
        }}
      </h2>
      <ul class="flex">
        {{ range where .Site.RegularPages "Params.category" "intersect" (slice "Book") }}
          {{ partial "book-link.html" . }}
        {{ end }}
      </ul>
    </div>

    <div class="music-section my-8">
      <h2 class="my-4">{{ i18n "like.music" }}</h2>
      <ul class="flex space-x-4">
        {{ range where .Site.RegularPages "Params.category" "intersect" (slice "Music") }}
          {{ partial "music-link.html" . }}
        {{ end }}
      </ul>
    </div>
  </div>
{{ end }}
