{{ define "contentWrapper" }}
  <div class="like mx-4 mt-4 p-4 sm:ml-16 sm:mr-0 sm:mt-0">
    <h1 class="text-xl font-medium">
      {{ i18n
        "like.title"
      }}
    </h1>
    <div class="relative mt-4">
      <h2 class="my-4">
        {{ i18n
          "like.book"
        }}
      </h2>
      <ul class=" my-4 flex snap-x overflow-x-scroll">
        {{ $books := where .Site.RegularPages "Params.category" "intersect" (slice "Book") }}
        {{ range first 20 $books }}
          {{ partial "book-link.html" . }}
        {{ end }}
      </ul>
    </div>
    <div class="my-8">
      <h2 class="my-4">{{ i18n "like.music" }}</h2>
      <ul class="flex snap-x space-x-4 overflow-y-hidden overflow-x-scroll">
        {{ $musicLinks := where .Site.RegularPages "Params.category" "intersect" (slice "Music") }}
        {{ range first 20 $musicLinks }}
          {{ partial "music-link.html" . }}
        {{ end }}
      </ul>
    </div>
    <div class="my-8">
      <h2 class="my-4">{{ i18n "like.hardware" }}</h2>
      <ul class="flex snap-x space-x-4 overflow-y-hidden overflow-x-scroll">
        {{ $musicLinks := where .Site.RegularPages "Params.category" "intersect" (slice "Hardware") }}
        {{ range first 20 $musicLinks }}
          {{ partial "music-link.html" . }}
        {{ end }}
      </ul>
    </div>
    <div class="my-8">
      <h2 class="my-4">{{ i18n "like.software" }}</h2>
      <ul class="flex snap-x space-x-4 overflow-y-hidden overflow-x-scroll">
        {{ $musicLinks := where .Site.RegularPages "Params.category" "intersect" (slice "Software") }}
        {{ range first 20 $musicLinks }}
          {{ partial "music-link.html" . }}
        {{ end }}
      </ul>
    </div>
  </div>
{{ end }}
