{{ $folderName := path.Base (path.Dir .Page.File.Path) }}
<div
  id="{{ $folderName }}-{{ .Get "title" | urlize }}"
  class="article-card group relative my-2   hover:bg-gray-100"
>
  <h3 class=" relative inline-block">
    <a href="{{ .Get "link" }}" target="_blank" rel="noopener noreferrer" class="block">
      {{ .Get "title" }}
      <span
        class="absolute bottom-0 left-0 h-0.5 w-0 bg-blue-500 transition-all duration-300 group-hover:w-full"
      ></span>
    </a>
  </h3>

  <div class="note">{{ .Inner | markdownify }}</div>

  <p class="author">{{ .Get "author" }}</p>

  <p class="rating">
    {{ $rate := .Get "rate" }}
    {{ range seq 5 }}
      <span class="star {{ if le . $rate }}filled{{ end }}"></span>
    {{ end }}
  </p>

  <p class="tags">
    {{ range (split (.Get "tags") " ") }}
      {{ $tagColor := index $.Site.Data.tags . }}
      <span
        class="tag  rounded bg-red-500 p-0.5 text-white"
        style="background-color: {{ $tagColor }}"
        >{{ . }}</span
      >
    {{ end }}
  </p>
</div>

{{/* 分割线 */}}
<div class="short-border mx-auto h-px w-full bg-gray-100"></div>
