<div class="article-card">
  <h3>
    <a href="{{ .Get "link" }}" target="_blank" rel="noopener noreferrer">{{ .Get "title" }}</a>
  </h3>
  <p class="author">作者:</p>
  <p class="tags">
    {{ range (split (.Get "tags") " ") }}
      {{ $tagColor := index $.Site.Data.tags . }}
      <span class="tag" style="background-color: {{ $tagColor }}">{{ . }}</span>
    {{ end }}
  </p>
  <div class="rating">
    {{ $rate := .Get "rate" }}
    {{ range seq 5 }}
      <span class="star {{ if le . $rate }}filled{{ end }}"></span>
    {{ end }}
  </div>
  <div class="note">{{ .Inner | markdownify }}</div>
</div>
