<div class="article-card group rounded-xl  p-4 hover:bg-gray-100">
  <h3 class="group relative inline-block">
    <a href="{{ .Get "link" }}" target="_blank" rel="noopener noreferrer" class="block">
      {{ .Get "title" }}
      <span
        class="absolute bottom-0 left-0 h-0.5 w-0 bg-blue-500 transition-all duration-300 group-hover:w-full"
      ></span>
    </a>
  </h3>

  <p class="author">{{ .Get "author" }}</p>
  <p class="tags">
    {{ range (split (.Get "tags") " ") }}
      {{ $tagColor := index $.Site.Data.tags . }}
      <span class="tag " style="background-color: {{ $tagColor }}">{{ . }}</span>
    {{ end }}
  </p>
  <p class="rating">
    {{ $rate := .Get "rate" }}
    {{ range seq 5 }}
      <span class="star {{ if le . $rate }}filled{{ end }}"></span>
    {{ end }}
  </p>
  <div class="note">{{ .Inner | markdownify }}</div>
  <div class="short-border h-px w-1/2 bg-black"></div>
</div>
