<li
  class="my-8 list-none overflow-hidden rounded-2xl border border-gray-300 transition-shadow-transform duration-300 ease-out hover:shadow-xl hover:shadow-blue-500/50 dark:border-gray-700 "
>
  <!-- 获取图片资源 -->
  {{- $images := $.Resources.ByType "image" }}
  {{- $thumbnail := $images.GetMatch (.Params.thumbnail | default "*thumb*") }}
  {{- $cover := $images.GetMatch (.Params.cover | default "*cover*") }}
  {{- $feature := $images.GetMatch (.Params.feature | default "*feature*") | default $thumbnail | default $cover }}


  <a
    href="{{ with $.Params.externalUrl }}
      {{ . }}
    {{ else }}
      {{ $.RelPermalink }}
    {{ end }}"
    title="{{ $.Title | emojify }}"
    class="group"
  >
    <div>
      <!-- 图片部分 -->
      {{- with $feature }}
        <div class="overflow-hidden">
          <picture class="overflow-hidden">
            <source srcset="{{ .RelPermalink }}" type="image/webp" />
            <source srcset="{{ .RelPermalink }}" type="image/jpeg" />
            <img
              src="{{ .RelPermalink }}"
              alt="{{ $.Params.featureAlt | default $.Params.thumbnailAlt | default "" }}"
              {{ if $.Site.Params.enableImageLazyLoading | default true }}loading="lazy"{{ end }}
              class="h-full w-full transform object-cover transition-transform duration-500 group-hover:scale-105 dark:border-gray-600"
            />
          </picture>
        </div>
      {{- end }}


      <!-- 文字部分 -->
      <div class="p-8">
        <!-- 标签部分 -->
        <div class="text-sm font-semibold text-gray-400">
          {{ range $.Params.category }}
            {{ . }}
          {{ end }}
        </div>

        <!-- 标题部分 -->
        <h2
          class="mb-1 mt-1 text-xl font-semibold text-black group-hover:text-blue-500 dark:text-white"
        >
          {{ $.Title | emojify }}
        </h2>

        {{/* Check if subtitle exists */}}
        {{ if .Params.subtitle }}
          <div class="text-base text-gray-400">{{ .Params.subtitle | emojify }}</div>
        {{ else if .Params.showSummary | default (.Site.Params.list.showSummary | default true) }}
          <!-- 摘要部分 -->
          <div class="text-base text-gray-400">{{ .Summary | emojify }}</div>
        {{ end }}
      </div>
    </div>
  </a>
</li>
