<article
  class="my-8 rounded-2xl border border-gray-300 transition-shadow-transform duration-300 ease-out hover:shadow-xl hover:shadow-blue-500/50 dark:border-gray-700 "
>
  <!-- 获取图片资源 -->
  {{- $images := $.Resources.ByType "image" }}
  {{- $thumbnail := $images.GetMatch (.Params.thumbnail | default "*thumb*") }}
  {{- $feature := $images.GetMatch (.Params.feature | default "*feature*") | default $thumbnail }}


  <header class="entry-title">
    <a
      href="{{ with $.Params.externalUrl }}
        {{ . }}
      {{ else }}
        {{ $.RelPermalink }}
      {{ end }}"
      title="{{ $.Title | emojify }}"
      class="group"
    >
      <div class="p-4 pb-5 ">
        <!-- 图片部分 -->
        {{- with $feature }}
          <div class="overflow-hidden rounded-xl">
            <picture>
              <source srcset="{{ .RelPermalink }}" type="image/webp" />
              <source srcset="{{ .RelPermalink }}" type="image/jpeg" />
              <img
                src="{{ .RelPermalink }}"
                alt="{{ $.Params.featureAlt | default $.Params.thumbnailAlt | default "" }}"
                {{ if $.Site.Params.enableImageLazyLoading | default true }}
                  loading="lazy"
                {{ end }}
                class="transform rounded-xl border transition-transform duration-500 group-hover:scale-105 dark:border-gray-600"
              />
            </picture>
          </div>
        {{- end }}


        <!-- 标题部分 -->
        {{- with $feature }}
          <h2
            class="mb-1 mt-4 text-xl font-semibold text-black group-hover:text-red-600 dark:text-white"
          >
            {{ $.Title | emojify }}
          </h2>
        {{- else }}
          <h2
            class="mb-1 text-xl font-semibold text-black group-hover:text-red-600 dark:text-white"
          >
            {{ $.Title | emojify }}
          </h2>
        {{- end }}


        <!-- 摘要部分 -->
        {{ if .Params.showSummary | default (.Site.Params.list.showSummary | default false) }}
          <p class="text-base text-gray-400">{{ .Summary | emojify }}</p>
        {{ end }}
      </div>
    </a>
  </header>
</article>
