{{ $currentURL := .RelPermalink }}


<aside
  class="relative z-30 mx-auto mt-8 w-11/12 rounded-2xl bg-gray-200 p-0 dark:border-2 dark:border-neutral-900 dark:bg-neutral-900 sm:fixed sm:left-0 sm:top-0 sm:m-0 sm:h-full sm:w-16 sm:rounded-none sm:py-16"
>
  {{/*  <h1>{{ $currentURL }}</h1>  */}}
  <nav class="flex h-16 flex-row items-center sm:h-48 sm:flex-col">
    <ul class="flex h-full w-full list-none flex-row justify-evenly sm:w-auto sm:flex-col">
      {{ range .Site.Menus.main }}
        <li class="my-2 flex items-center">
          {{/*  <h1 style="position: absolute;color:chocolate;left:50px;width:500px">{{ $currentURL}}-{{.URL}}</h1>  */}}
          {{/*  {{ $isActive := eq $currentURL .URL }}  */}}
          {{$isActive := false}}
          {{ if eq $currentURL .URL }}
            {{ $isActive = true }}
          {{ end }}
            <a
              href="{{ .URL }}"
              title="{{ .Title }}"
              {{ with .Params.target }}target="{{ . }}"{{ end }}
            >
              {{ with .Params.icon }}
                  {{ partial "icon.html" (dict "iconName" . "isActive" $isActive) }}
              {{- end -}}
            </a>
        </li>
      {{ end }}
        <li class="my-2 flex items-center">
          <button
          id="search-button-{{ $.Scratch.Get "searchCount" }}"
          title="{{ .Title | default (i18n "search.open_button_title") }}"
        >
          {{ with .Params.icon | default "search" }}
            <span class="group-dark:hover:text-primary-400 transition-colors">
              {{- partial "icon.html" (dict "iconName" . "isActive" false) -}}
            </span>
          {{- end -}}
        </button>
        </li>
    </ul>
  </nav>
  <nav
    class="bottom-8 hidden h-36 flex-grow list-none sm:absolute sm:flex sm:w-full sm:flex-col sm:items-center"
  >
    <!-- Language Switcher -->
    {{ partial "language-switcher.html" . }}


    <!-- 主题切换按钮列表项 -->
    {{ partial "theme-switcher.html" . }}
    <!-- 头像图片导航列表项 -->
    <li class="my-2">
      <a href="/zh/about" class="flex items-center">
        <img src="/avatar600.png" alt="Avatar" class="h-9 w-9 rounded-full" />
      </a>
    </li>
  </nav>
</aside>
