<footer class="py-10 print:hidden">
  {{/* Footer menu */}}
  {{ if .Site.Menus.footer }}
    <nav class="pb-4 text-base font-medium text-neutral-500 dark:text-neutral-400">
      <ul class="flex list-none flex-col sm:flex-row">
        {{ range .Site.Menus.footer }}
          <li class="group mb-1 text-right  sm:mb-0 sm:me-7 sm:last:me-0">
              <a
                href="{{ .URL }}"
                title="{{ .Title }}"
                {{ with .Params.target }}target="{{ . }}"{{ end }} class="hover:text-blue-500"
                >{{ with .Params.icon }}
                  <span>
                    {{- partial "icon.html" . -}}
                  </span>
                {{- end -}}{{- if .Params.showName | default true -}}
                  <span
                    class="decoration-primary-500 group-hover:underline group-hover:decoration-2 group-hover:underline-offset-2"
                    >{{ .Name | markdownify | emojify }}</span
                  >
                {{ end }}</a
              >
            {{ end }}
          </li>
        {{ end }}
      </ul>
    </nav>
  <div class="flex items-center justify-between">
      {{/* Copyright */}}
      {{ if .Site.Params.footer.showCopyright | default true }}
        <p class="text-sm text-neutral-500 dark:text-neutral-400">
          {{- with site.Copyright }}
            {{ . | emojify | markdownify }}
          {{- else }}
          Copyright &copy;
            {{ now.Format "2006" }}
            {{ .Site.Author.name | markdownify | emojify }}
          {{- end }}
        </p>
      {{ end }}
  </div>
</footer>
