<div class="py-7">
  <a class="group flex" href="{{ .RelPermalink }}">
    <!-- 获取图片资源 -->
    {{- $images := $.Resources.ByType "image" }}
    {{- $thumbnail := $images.GetMatch (.Params.thumbnail | default "*thumb*") }}
    {{- $feature := $images.GetMatch (.Params.feature | default "*feature*") | default $thumbnail }}
    <div class="flex-none overflow-hidden">
      {{- with $feature }}
        <picture>
          <source srcset="{{ .RelPermalink }}" type="image/webp" />
          <source srcset="{{ .RelPermalink }}" type="image/jpeg" />
          <img
            src="{{ .RelPermalink }}"
            alt="{{ $.Params.featureAlt | default $.Params.thumbnailAlt | default "" }}"
            {{ if $.Site.Params.enableImageLazyLoading | default true }}
              loading="lazy"
            {{ end }}
            class="h-23 w-23 rounded-xl object-cover duration-500 group-hover:scale-110"
          />
        </picture>
      {{- end }}
    </div>
    <div class="ml-4 flex flex-col">
      <div class="text-sm text-neutral-500 dark:text-neutral-400">
        {{ range .Params.category }}
          {{ . }}
        {{ end }}
      </div>
      <h3 class="mt-[0.1rem] text-xl font-medium leading-6 group-hover:text-blue-500">
        {{ .Title | emojify }}
      </h3>
      <div class="mt-[0.1rem] text-base text-neutral-500 dark:text-neutral-400">
        {{ if .Params.showDate | default (.Site.Params.article.showDate | default true) }}
          {{ partial "meta/date.html" .Date }}
        {{ end }}
      </div>
    </div>
  </a>
</div>
