{{ if .Params.showMore | default (.Site.Params.article.showMore | default true) }}
  {{ $pages := shuffle .Site.RegularPages }}
  {{ $randomPage := index $pages 0 }}
  {{ if or .NextInSection .PrevInSection }}
    {{ $next := .NextInSection }}
    {{ $prev := .PrevInSection }}
    <hr />
    <div class="pt-8">
      <h2 class="text-2xl font-semibold">{{ i18n "article.more.title" }}</h2>
      <div class="pt-3">
        {{ if $next }}
          {{ partial "more-link.html" (dict "context" $next "label" (i18n "article.more.prev")) }}
        {{ end }}
        <hr />
        {{ if $prev }}
          {{ partial "more-link.html" (dict "context" $prev "label" (i18n "article.more.next")) }}
        {{ end }}
        <hr />
        {{ partial "more-link.html" (dict "context" $randomPage "label" (i18n "article.more.random")) }}
      </div>
    </div>
  {{ end }}
{{ end }}
