{{ $currentURL := .RelPermalink }}


<nav
  class="relative z-30 mx-auto mt-8 w-11/12 rounded-2xl bg-gray-200 p-0 dark:border-2 dark:border-neutral-900 dark:bg-neutral-900 sm:fixed sm:left-0 sm:top-0 sm:m-0 sm:h-full sm:w-16 sm:rounded-none sm:py-16"
>
  <div class="flex h-16 flex-row items-center sm:h-48 sm:flex-col">
    <ul class="flex h-full w-full list-none flex-row justify-evenly sm:w-auto sm:flex-col">
      {{ range $index, $menuItem := .Site.Menus.main }}
        <li class="my-2 flex items-center">
          {{ $isActive := false }}
          {{ $isHomeActive := or (in (slice "/zh/" "/en/") $currentURL) (strings.HasPrefix $currentURL "/zh/posts/") (strings.HasPrefix $currentURL "/en/posts/") }}
          {{ $isProjectActive := or (strings.HasPrefix $currentURL "/zh/projects/") (strings.HasPrefix $currentURL "/en/projects/") }}
          {{ $isLikeActive := or (strings.HasPrefix $currentURL "/zh/like/") (strings.HasPrefix $currentURL "/en/like/") }}

          {{ if and (eq $menuItem.Name "Home") $isHomeActive }}
            {{ $isActive = true }}
          {{ end }}

          {{ if and (eq $menuItem.Name "Project") $isProjectActive }}
            {{ $isActive = true }}
          {{ end }}

          {{ if and (eq $menuItem.Name "Like") $isLikeActive }}
            {{ $isActive = true }}
          {{ end }}


          <a
            href="{{ $menuItem.URL }}"
            title="{{ $menuItem.Title }}"
            {{ with $menuItem.Params.target }}target="{{ . }}"{{ end }}
          >
            {{ with $menuItem.Params.icon }}
              {{ partial "icon.html" (dict "iconName" . "isActive" $isActive) }}
            {{- end -}}
          </a>
        </li>
      {{ end }}


      <li class="my-2 flex items-center">
        <button
          id="search-button-{{ $.Scratch.Get "searchCount" }}"
          title="{{ .Title | default (i18n "search.open_button_title") }}"
        >
          {{ with .Params.icon | default "search" }}
            <span class="group-dark:hover:text-primary-400 transition-colors">
              {{- partial "icon.html" (dict "iconName" . "isActive" false) -}}
            </span>
          {{- end -}}
        </button>
      </li>
    </ul>
  </div>
  <div
    class="bottom-8 hidden h-36 flex-grow list-none sm:absolute sm:flex sm:w-full sm:flex-col sm:items-center"
  >
    <!-- Language Switcher -->
    {{ partial "language-switcher.html" . }}


    <!-- 主题切换按钮列表项 -->
    {{ partial "theme-switcher.html" . }}
    <!-- 头像图片导航列表项 -->
    <li class="my-2">
      <a href="/zh/about" class="flex items-center">
        <img src="/avatar600.png" alt="Avatar" class="h-9 w-9 rounded-full" />
      </a>
    </li>
  </div>
</nav>
<nav
  id="topNav"
  class="saturate180 fixed left-0 top-0 z-10  hidden h-12 w-screen animate-slide-down items-center justify-between dark:bg-black bg-white bg-opacity-70 px-4 shadow-md backdrop-blur-xl"
>
  <!-- 新导航栏的内容 -->
  <div class="flex items-center justify-between w-full">
    <a href="/" class="hover:cursor font-sans text-xl font-semibold leading-3 subpixel-antialiased">HUYIXI</a>

    <div class="globalnav-menutrigger">
      <button
        id="globalnav-menutrigger-button"
        aria-controls="globalnav-list"
        aria-label="Menu"
        data-topnav-menu-label-open="Menu"
        data-topnav-menu-label-close="Close"
        data-topnav-flyout-trigger-compact="menu"
        class="globalnav-menutrigger-button"
      >
        <svg width="18" height="18" viewBox="0 0 18 18">
          <polyline
            id="globalnav-menutrigger-bread-bottom"
            fill="none"
            stroke="currentColor"
            stroke-width="1.2"
            stroke-linecap="round"
            stroke-linejoin="round"
            points="2 12, 16 12"
            class="globalnav-menutrigger-bread globalnav-menutrigger-bread-bottom"
          >
            <animate
              id="globalnav-anim-menutrigger-bread-bottom-open"
              attributeName="points"
              keyTimes="0;0.5;1"
              dur="0.24s"
              begin="indefinite"
              fill="freeze"
              calcMode="spline"
              keySplines="0.42, 0, 1, 1;0, 0, 0.58, 1"
              values=" 2 12, 16 12; 2 9, 16 9; 3.5 15, 15 3.5"
            ></animate>
            <animate
              id="globalnav-anim-menutrigger-bread-bottom-close"
              attributeName="points"
              keyTimes="0;0.5;1"
              dur="0.24s"
              begin="indefinite"
              fill="freeze"
              calcMode="spline"
              keySplines="0.42, 0, 1, 1;0, 0, 0.58, 1"
              values=" 3.5 15, 15 3.5; 2 9, 16 9; 2 12, 16 12"
            ></animate>
          </polyline>
          <polyline
            id="globalnav-menutrigger-bread-top"
            fill="none"
            stroke="currentColor"
            stroke-width="1.2"
            stroke-linecap="round"
            stroke-linejoin="round"
            points="2 5, 16 5"
            class="globalnav-menutrigger-bread globalnav-menutrigger-bread-top"
          >
            <animate
              id="globalnav-anim-menutrigger-bread-top-open"
              attributeName="points"
              keyTimes="0;0.5;1"
              dur="0.24s"
              begin="indefinite"
              fill="freeze"
              calcMode="spline"
              keySplines="0.42, 0, 1, 1;0, 0, 0.58, 1"
              values=" 2 5, 16 5; 2 9, 16 9; 3.5 3.5, 15 15"
            ></animate>
            <animate
              id="globalnav-anim-menutrigger-bread-top-close"
              attributeName="points"
              keyTimes="0;0.5;1"
              dur="0.24s"
              begin="indefinite"
              fill="freeze"
              calcMode="spline"
              keySplines="0.42, 0, 1, 1;0, 0, 0.58, 1"
              values=" 3.5 3.5, 15 15; 2 9, 16 9; 2 5, 16 5"
            ></animate>
          </polyline>
        </svg>
      </button>
    </div>
    </div>

  <div id="extension-menu"
    class="extension-menu opacity-0 max-h-0 overflow-hidden saturate180 transition-all ease-in-out duration-1000 px-4 absolute top-full left-0 w-full dark:bg-black bg-white shadow-md backdrop-blur-xl">
    <ul>
      {{ range $index, $menuItem := .Site.Menus.main }}
        <li class="my-2 flex items-center">
          <a
            href="{{ $menuItem.URL }}"
            title="{{ $menuItem.Title }}"
            {{ with $menuItem.Params.target }}target="{{ . }}"{{ end }}
          >{{ $menuItem.Name }}
          </a>
        </li>
      {{ end }}
    </ul>
  </div>
</nav>
