{{ $currentURL := .RelPermalink }}


<nav
  class="relative z-30 mx-auto mt-8 w-11/12 rounded-2xl bg-gray-200 p-0 dark:border-2 dark:border-neutral-900 dark:bg-neutral-900 sm:fixed sm:left-0 sm:top-0 sm:m-0 sm:h-full sm:w-16 sm:rounded-none sm:py-16"
>
  <div class="flex h-16 flex-row items-center sm:h-48 sm:flex-col">
    <ul class="flex h-full w-full list-none flex-row justify-evenly sm:w-auto sm:flex-col">
      {{ range $index, $menuItem := .Site.Menus.main }}
        <li class="my-2 flex items-center">
          {{ $isActive := false }}
          {{ $isHomeActive := or (in (slice "/zh/" "/en/") $currentURL) (strings.HasPrefix $currentURL "/zh/posts/") (strings.HasPrefix $currentURL "/en/posts/") }}
          {{ $isProjectActive := or (strings.HasPrefix $currentURL "/zh/projects/") (strings.HasPrefix $currentURL "/en/projects/") }}
          {{ $isLikeActive := or (strings.HasPrefix $currentURL "/zh/like/") (strings.HasPrefix $currentURL "/en/like/") }}

          {{ if and (eq $menuItem.Name "Home") $isHomeActive }}
            {{ $isActive = true }}
          {{ end }}

          {{ if and (eq $menuItem.Name "Project") $isProjectActive }}
            {{ $isActive = true }}
          {{ end }}

          {{ if and (eq $menuItem.Name "Like") $isLikeActive }}
            {{ $isActive = true }}
          {{ end }}


          <a
            href="{{ $menuItem.URL }}"
            title="{{ $menuItem.Title }}"
            {{ with $menuItem.Params.target }}target="{{ . }}"{{ end }}
          >
            {{ with $menuItem.Params.icon }}
              {{ partial "icon.html" (dict "iconName" . "isActive" $isActive) }}
            {{- end -}}
          </a>
        </li>
      {{ end }}


      <li class="my-2 flex items-center">
        <button
          id="search-button-{{ $.Scratch.Get "searchCount" }}"
          title="{{ .Title | default (i18n "search.open_button_title") }}"
        >
          {{ with .Params.icon | default "search" }}
            <span class="group-dark:hover:text-primary-400 transition-colors">
              {{- partial "icon.html" (dict "iconName" . "isActive" false) -}}
            </span>
          {{- end -}}
        </button>
      </li>
    </ul>
  </div>
  <div
    class="bottom-8 hidden h-36 flex-grow list-none sm:absolute sm:flex sm:w-full sm:flex-col sm:items-center"
  >
    <!-- Language Switcher -->
    {{ partial "language-switcher.html" . }}


    <!-- 主题切换按钮列表项 -->
    {{ partial "theme-switcher.html" . }}
    <!-- 头像图片导航列表项 -->
    <li class="my-2">
      <a href="/zh/about" class="flex items-center">
        <img src="/avatar600.png" alt="Avatar" class="h-9 w-9 rounded-full" />
      </a>
    </li>
  </div>
</nav>
<nav
  id="topNav"
  class="saturate180 blur20 fixed left-0 top-0 z-10 hidden h-12 w-full bg-white bg-opacity-70 shadow-md backdrop-blur-xl"
>
  <!-- 新导航栏的内容 -->
</nav>
