<div id="undate-banner" class="banner z-50 bg-blue-500 fixed h-8 w-screen whitespace-nowrap overflow-hidden flex gap-8">
  <p class=" leading-8 text-sm text-white animate-marquee ">
    The New Site is Coming! The current site has been archived. Visit the new blog site at <a
      href='https://huyixi.org'>huyixi.org.</a>
  </p>
  <p class=" leading-8 text-sm text-white animate-marquee ">
    The New Site is Coming! The current site has been archived. Visit the new blog site at <a
      href='https://huyixi.org'>huyixi.org.</a>
  </p>
  <p class=" leading-8 text-sm text-white animate-marquee ">
    The New Site is Coming! The current site has been archived. Visit the new blog site at <a
      href='https://huyixi.org'>huyixi.org.</a>
  </p>
  <p class=" leading-8 text-sm text-white animate-marquee ">
    The New Site is Coming! The current site has been archived. Visit the new blog site at <a
      href='https://huyixi.org'>huyixi.org.</a>
  </p>
  <p class=" leading-8 text-sm text-white animate-marquee ">
    The New Site is Coming! The current site has been archived. Visit the new blog site at <a
      href='https://huyixi.org'>huyixi.org.</a>
  </p>
  <p class=" leading-8 text-sm text-white animate-marquee ">
    The New Site is Coming! The current site has been archived. Visit the new blog site at <a
      href='https://huyixi.org'>huyixi.org.</a>
  </p>
  <p class=" leading-8 text-sm text-white animate-marquee ">
    The New Site is Coming! The current site has been archived. Visit the new blog site at <a
      href='https://huyixi.org'>huyixi.org.</a>
  </p>
</div>
