<li class="my-2 snap-start">
    <!-- 获取图片资源 -->
    {{- $images := $.Resources.ByType "image" }}
    {{- $cover := $images.GetMatch (.Params.cover | default "*cover*") }}
    {{- $thumbnail := $images.GetMatch (.Params.thumbnail | default "*thumb*") }}
    {{- $feature := $images.GetMatch (.Params.feature | default "*feature*") | default $cover |default $thumbnail }}
    <!-- 图片部分 -->
    {{- with $feature }}
    <picture class="w-28 h-28 block cursor-pointer">
        <source srcset="{{ .RelPermalink }}" type="image/webp" />
        <source srcset="{{ .RelPermalink }}" type="image/jpeg" />
        <img class="w-full h-full object-cover rounded-xl" src="{{ .RelPermalink }}"
            alt="{{ $.Params.featureAlt | default $.Params.thumbnailAlt | default "" }}"
            {{ if $.Site.Params.enableImageLazyLoading | default true }} loading="lazy" {{ end }} />
    </picture>
    {{- end }}
</li>