<header class="prose max-w-full dark:prose-invert">
  <h1 class="mb-2 text-3xl">
    {{ i18n "hello.intro"}}
  </h1>
  <section>{{ .Content | emojify }}</section>
</header>
<section>
  <ul id="article-filter" class="">
    <li id="all-article-tag">All</li>
    {{ $.Scratch.Add "tags" slice }}
    {{ range where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
      {{ $tags := .Params.category }}
      {{ range $index, $tag := $tags }}
        {{ if not (in ($.Scratch.Get "tags") $tag) }}
          <li>{{ $tag }}</li>
          {{ $.Scratch.Add "tags" $tag }}
        {{ end }}
      {{ end }}
    {{ end }}
  </ul>
  <ul>
    {{ range first .Site.Params.homepage.recentLimit (.Paginate (where
    .Site.RegularPages "Type" "in" .Site.Params.mainSections)
    .Site.Params.homepage.recentLimit).Pages }}
    {{ partial "post-link.html" . }}
    {{ end }}
  </ul>
</section>
<section>
{{ partial "pagination.html" . }}
</section>
