<header class="prose max-w-full dark:prose-invert">
  <h1 class="mb-2 text-3xl">
    {{ i18n "hello.intro"}}
  </h1>
  <section>{{ .Content | emojify }}</section>
</header>
<section id="post-section">
  {{/*  <ul id="post-filter" class="flex gap-x-4 mt-4">
    <li id="all-post-category"  class="bg-blue-500 rounded-xl px-2 text-white hover:cursor-pointer">All</li>
    {{ $.Scratch.Add "categories" slice }}
    {{ range where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
      {{ $categories := .Params.category }}
      {{ range $index, $category := $categories }}
        {{ if not (in ($.Scratch.Get "categories") $category) }}
          <li class="bg-blue-500 text-white rounded-xl px-2  hover:cursor-pointer">{{ $category }}</li>
          {{ $.Scratch.Add "categories" $category }}
        {{ end }}
      {{ end }}
    {{ end }}
  </ul>  */}}
  <ul id="post-list">
    {{ range first .Site.Params.homepage.recentLimit (.Paginate (where
    .Site.RegularPages "Type" "in" .Site.Params.mainSections)
    .Site.Params.homepage.recentLimit).Pages }}
      {{ partial "post-link.html" . }}
    {{ end }}
  </ul>
</section>
<section>
{{ partial "pagination.html" . }}
</section>
